.menu-title {
    margin-top: 100px;
    text-align: center;
    font-family: 'content';
}

.menu-container {
    margin-top: 30px;
    width: 400px;
    position: absolute;
}

.menubox {
    border: 0px;
    margin: 10px;
    margin-top: 15px;
    border-radius: 15px;
    width: 156px;
    height: 150px;
    padding-bottom: 5px;
    position: relative;
    left: 25px;
    display: flex;
    float:left;
    background-color: #FFF4E8;
    margin-top: 20px;

}

.menucontent > h5{
    font-family: 'content';
    font-size: 18px;
    padding-left: 10px;
    padding-top: 5px;
    
    
}

.menucontent > p {
    padding-left: 15px;
}

.menucontent > img {
    border-radius: 15px;
}

a {
    text-decoration: none;
}


.menuname {
    font-size: 30px;
}

.menuprice {e: 20px;
}

.menu-img {
    width: 150px;
}
