.menu-title {
    margin-top: 20px;
    text-align: center;
}

.menu-container {
    margin-top: 30px;
}

.menubox {
    border: 3px solid;
    margin: 5px;
    margin-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}

a {
    text-decoration: none;
}


.menuname {
    font-size: 30px;
}

.menuprice {
    font-size: 20px;
}

.menu-img {
    width: 150px;
}