.navbar {
    background-color: #37AC82;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    color: #FFF4E8;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

.navbar-logo {
    color: #FFF4E8;;
    font-family: 'title';
    justify-self: start;
    margin-top: -7px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 28px;
    display: flex;
    align-items: center;
}



.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    height: 80px;
    margin: 10px;
    position: relative;
    top: -200px;
}

.nav-links {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-family: 'content';
    font-size: 24px;
}

.nav-links:hover {
    border-bottom: 4px solid black;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #FFF4E8;
    position: relative;
        top: -2px;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #FFF4E8;
        
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }


    .nav-links {
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.5rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        position: relative;
        top: -5px;
        font-size: 30px;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 1rem auto;
        border-radius: 5px;
        width: 120px;
        text-decoration: none;
        font-size: 18px;
        background-color: transparent;
        color: black;
        padding: 14px 20px;
        border: 1px solid black;
        transition: all 0.3s ease-out;
        font-weight: bold;
        font-family: 'content';
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    }
}