.menuItem-img {
    top: 60px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.option {
    height: 400px;
}

.menu-info {
    padding: 3px;
    background: #fff;
    margin-top: 250px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    border-radius: 15px;
    height: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.menu-info > h1 {
    font-family: content;
    font-size: 35px;
}

.menu-price {
    display: flex;
    justify-content: center;
    font-family: 'content';
}

.menu-price > h2{
    font-family: 'content';
}

.menu-quantity {
    display: flex;
    justify-content: center;
    font-family: 'content';

}
.menu-quantity > h2{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-family: 'content';

}

.basket-btn-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-family: 'content';

}

.basket-button {
    padding: 10px;
    width: 300px;
    font-family: 'content';
    background-color: #FFF4E8;
    border: 0px;
    border-radius: 15px;
    font-size: 20px;

}

.changebutton {
    font-size: 30px;
    height: 10px;
    border: 0px;
    background-color: white;
}